{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}


{% block nav %}
{% load main_tags %}
{% show_categories %}
{% endblock %}


{% block content %}
    
    

    <h1>{{ title }}</h1>
    <article>
        <div class="entry-content" style="height: auto !important; min-height: 0px !important;">
            <h2>Назначение и свойства камней</h2>
            <p>Чтобы увидеть изображение и описание камня, просто кликните на его название</p>
            <table class="table-index-page">
                <tbody>
                    <tr>
                        <td>Побуждение к действию</td>
                        <td><a title="аметист" href="https://topkamni.ru/kamni/ametist.html"
                                target="_blank" rel="noopener noreferrer">аметист</a>, <a title="аметрин"
                                href="https://topkamni.ru/kamni/alpanit-ametrin-ammonit.html#ametrin" target="_blank"
                                rel="noopener noreferrer">аметрин</a>, <a title="опал"
                                href="https://topkamni.ru/kamni/opal.html" target="_blank" rel="noopener noreferrer">опал</a>,
                            <a title="хризопраз" href="https://topkamni.ru/kamni/hrizopraz.html" target="_blank"
                                rel="noopener noreferrer">хризопраз</a>, <a title="родонит"
                                href="https://topkamni.ru/kamni/rodonit.html" target="_blank"
                                rel="noopener noreferrer">родонит</a>, <a title="бирюза"
                                href="https://topkamni.ru/kamni/biryuza.html" target="_blank"
                                rel="noopener noreferrer">бирюза</a></td>
                    </tr>
                    <tr>
                        <td>Успех в новых делах</td>
                        <td><a title="гранат" href="https://topkamni.ru/kamni/granat.html"
                                target="_blank" rel="noopener noreferrer">гранат</a>, <a title="агат"
                                href="https://topkamni.ru/kamni/agat.html" target="_blank" rel="noopener noreferrer">моховой
                                агат</a></td>
                    </tr>
                    <tr>
                        <td>Жизнерадостность</td>
                        <td><a title="янтарь" href="https://topkamni.ru/kamni/yantar.html"
                                target="_blank" rel="noopener noreferrer">янтарь</a>, <a title="опал"
                                href="https://topkamni.ru/kamni/opal.html" target="_blank" rel="noopener noreferrer">опал</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Творческие способности</td>
                        <td><a title="аметрин"
                                href="https://topkamni.ru/kamni/alpanit-ametrin-ammonit.html#ametrin" target="_blank"
                                rel="noopener noreferrer">аметрин</a>, <a title="янтарь"
                                href="https://topkamni.ru/kamni/yantar.html" target="_blank"
                                rel="noopener noreferrer">янтарь</a>, <a title="гранат"
                                href="https://topkamni.ru/kamni/granat.html" target="_blank"
                                rel="noopener noreferrer">гранат</a>, <a title="лабрадор"
                                href="https://topkamni.ru/kamni/labrador.html" target="_blank"
                                rel="noopener noreferrer">лабрадор</a>, <a title="турмалин"
                                href="https://topkamni.ru/kamni/turmalin.html" target="_blank"
                                rel="noopener noreferrer">турмалин</a></td>
                    </tr>
                    <tr>
                        <td>Эффективное завершение начатого</td>
                        <td><a title="аквамарин" href="https://topkamni.ru/kamni/akvamarin.html"
                                target="_blank" rel="noopener noreferrer">аквамарин</a>, <a title="сердолик"
                                href="https://topkamni.ru/kamni/serdolik.html" target="_blank"
                                rel="noopener noreferrer">сердолик</a></td>
                    </tr>
                    <tr>
                        <td>Исполнение желаний</td>
                        <td><a title="янтарь" href="https://topkamni.ru/kamni/yantar.html"
                                target="_blank" rel="noopener noreferrer">янтарь</a>, <a title="малахит"
                                href="https://topkamni.ru/kamni/malahit.html" target="_blank"
                                rel="noopener noreferrer">малахит</a>, <a title="гематит"
                                href="https://topkamni.ru/kamni/gematit.html" target="_blank"
                                rel="noopener noreferrer">гематит</a>, <a title="опал"
                                href="https://topkamni.ru/kamni/opal.html" target="_blank" rel="noopener noreferrer">опал</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Создание сильной привязанности</td>
                        <td><a title="кунцит"
                                href="https://topkamni.ru/kamni/kianit-kuncit-lidit.html#kuncit" target="_blank"
                                rel="noopener noreferrer">кунцит</a>, <a title="турмалин"
                                href="https://topkamni.ru/kamni/turmalin.html" target="_blank"
                                rel="noopener noreferrer">турмалин</a></td>
                    </tr>
                    <tr>
                        <td>Преодоление трудностей</td>
                        <td><a title="гранат" href="https://topkamni.ru/kamni/granat.html"
                                target="_blank" rel="noopener noreferrer">гранат</a>, <a title="сердолик"
                                href="https://topkamni.ru/kamni/serdolik.html" target="_blank"
                                rel="noopener noreferrer">сердолик</a>, <a title="агат"
                                href="https://topkamni.ru/kamni/agat.html" target="_blank" rel="noopener noreferrer">моховой
                                агат</a>, <a title="кварц" href="https://topkamni.ru/kamni/kvarc.html" target="_blank"
                                rel="noopener noreferrer">дымчатый кварц</a>, <a title="тигровый глаз"
                                href="https://topkamni.ru/kamni/tigrovyj-glaz.html" target="_blank"
                                rel="noopener noreferrer">тигровый глаз</a></td>
                    </tr>
                    <tr>
                        <td>Энтузиазм</td>
                        <td><a title="авантюрин" href="https://topkamni.ru/kamni/avantyurin.html"
                                target="_blank" rel="noopener noreferrer">авантюрин</a>, <a title="опал"
                                href="https://topkamni.ru/kamni/opal.html" target="_blank" rel="noopener noreferrer">опал</a>,
                            <a title="гранат" href="https://topkamni.ru/kamni/granat.html" target="_blank"
                                rel="noopener noreferrer">гранат</a>, <a title="лабрадор"
                                href="https://topkamni.ru/kamni/labrador.html" target="_blank"
                                rel="noopener noreferrer">лабрадор</a>, <a title="родохрозит"
                                href="https://topkamni.ru/kamni/riolit-rodoxrozit-rodusit-rubellit.html#rodoh" target="_blank"
                                rel="noopener noreferrer">родохрозит</a></td>
                    </tr>
                    <tr>
                        <td>От бесплодия</td>
                        <td><a title="хризопраз" href="https://topkamni.ru/kamni/hrizopraz.html"
                                target="_blank" rel="noopener noreferrer">хризопраз</a>, <a title="топаз"
                                href="https://topkamni.ru/kamni/topaz.html" target="_blank"
                                rel="noopener noreferrer">топаз-империал</a>, <a title="лунный"
                                href="https://topkamni.ru/kamni/lunnyj.html" target="_blank" rel="noopener noreferrer">лунный
                                камень</a>, <a title="родонит" href="https://topkamni.ru/kamni/rodonit.html" target="_blank"
                                rel="noopener noreferrer">родонит</a>, <a title="кварц"
                                href="https://topkamni.ru/kamni/kvarc.html" target="_blank" rel="noopener noreferrer">розовый
                                кварц</a></td>
                    </tr>
                    <tr>
                        <td>Дар предвидения</td>
                        <td><a title="аквамарин" href="https://topkamni.ru/kamni/akvamarin.html"
                                target="_blank" rel="noopener noreferrer">аквамарин</a>, <a title="бирюза"
                                href="https://topkamni.ru/kamni/biryuza.html" target="_blank"
                                rel="noopener noreferrer">бирюза</a></td>
                    </tr>
                    <tr>
                        <td>Укрепление дружбы</td>
                        <td><a title="изумруд" href="https://topkamni.ru/kamni/izumrud.html"
                                target="_blank" rel="noopener noreferrer">изумруд</a>, <a title="лазурит"
                                href="https://topkamni.ru/kamni/lazurit.html" target="_blank"
                                rel="noopener noreferrer">лазурит</a>, <a title="малахит"
                                href="https://topkamni.ru/kamni/malahit.html" target="_blank"
                                rel="noopener noreferrer">малахит</a>, <a title="перидот"
                                href="https://topkamni.ru/kamni/peridot.html" target="_blank"
                                rel="noopener noreferrer">перидот</a>, <a title="родонит"
                                href="https://topkamni.ru/kamni/rodonit.html" target="_blank"
                                rel="noopener noreferrer">родонит</a>, <a title="турмалин"
                                href="https://topkamni.ru/kamni/turmalin.html" target="_blank"
                                rel="noopener noreferrer">арбузный турмалин</a></td>
                    </tr>
                    <tr>
                        <td>Постановка целей</td>
                        <td><a title="лабрадор" href="https://topkamni.ru/kamni/labrador.html"
                                target="_blank" rel="noopener noreferrer">лабрадор</a>, <a
                                href="https://topkamni.ru/kamni/lepidolit.html">лепидолит</a>, <a title="турмалин"
                                href="https://topkamni.ru/kamni/turmalin.html" target="_blank"
                                rel="noopener noreferrer">арбузный турмалин</a></td>
                    </tr>
                    <tr>
                        <td>Трудолюбие</td>
                        <td><a title="родохрозит"
                                href="https://topkamni.ru/kamni/riolit-rodoxrozit-rodusit-rubellit.html#rodoh" target="_blank"
                                rel="noopener noreferrer">родохрозит</a></td>
                    </tr>
                    <tr>
                        <td>Интуиция</td>
                        <td><a title="аметист" href="https://topkamni.ru/kamni/ametist.html"
                                target="_blank" rel="noopener noreferrer">аметист</a>, <a title="амазонит"
                                href="https://topkamni.ru/kamni/amazonit.html" target="_blank"
                                rel="noopener noreferrer">амазонит</a>, <a title="аметрин"
                                href="https://topkamni.ru/kamni/alpanit-ametrin-ammonit.html#ametrin" target="_blank"
                                rel="noopener noreferrer">аметрин</a>, <a title="кунцит"
                                href="https://topkamni.ru/kamni/kianit-kuncit-lidit.html#kuncit" target="_blank"
                                rel="noopener noreferrer">кунцит</a>, <a title="лабрадор"
                                href="https://topkamni.ru/kamni/labrador.html" target="_blank"
                                rel="noopener noreferrer">лабрадор</a>, <a title="лунный"
                                href="https://topkamni.ru/kamni/lunnyj.html" target="_blank" rel="noopener noreferrer">лунный
                                камень</a>, <a title="бирюза" href="https://topkamni.ru/kamni/biryuza.html" target="_blank"
                                rel="noopener noreferrer">бирюза</a></td>
                    </tr>
                    <tr>
                        <td>Любовь</td>
                        <td><a title="хризопраз" href="https://topkamni.ru/kamni/hrizopraz.html"
                                target="_blank" rel="noopener noreferrer">хризопраз</a>, <a title="изумруд"
                                href="https://topkamni.ru/kamni/izumrud.html" target="_blank"
                                rel="noopener noreferrer">изумруд</a>, <a title="лунный"
                                href="https://topkamni.ru/kamni/lunnyj.html" target="_blank" rel="noopener noreferrer">лунный
                                камень</a>, <a title="родохрозит"
                                href="https://topkamni.ru/kamni/riolit-rodoxrozit-rodusit-rubellit.html#rodoh" target="_blank"
                                rel="noopener noreferrer">родохрозит</a>, <a title="кварц"
                                href="https://topkamni.ru/kamni/kvarc.html" target="_blank" rel="noopener noreferrer">розовый
                                кварц</a>, <a title="рубин" href="https://topkamni.ru/kamni/rubin.html" target="_blank"
                                rel="noopener noreferrer">рубин</a>, <a title="турмалин"
                                href="https://topkamni.ru/kamni/turmalin.html" target="_blank"
                                rel="noopener noreferrer">арбузный турмалин</a></td>
                    </tr>
                    <tr>
                        <td>Удача</td>
                        <td><a title="агат" href="https://topkamni.ru/kamni/agat.html" target="_blank"
                                rel="noopener noreferrer">агат</a>, <a title="аметрин"
                                href="https://topkamni.ru/kamni/alpanit-ametrin-ammonit.html#ametrin" target="_blank"
                                rel="noopener noreferrer">аметрин</a>, <a title="авантюрин"
                                href="https://topkamni.ru/kamni/avantyurin.html" target="_blank"
                                rel="noopener noreferrer">авантюрин</a>, <a title="янтарь"
                                href="https://topkamni.ru/kamni/yantar.html" target="_blank"
                                rel="noopener noreferrer">янтарь</a>, <a title="хризопраз"
                                href="https://topkamni.ru/kamni/hrizopraz.html" target="_blank"
                                rel="noopener noreferrer">хризопраз</a>, <a title="гранат"
                                href="https://topkamni.ru/kamni/granat.html" target="_blank"
                                rel="noopener noreferrer">гранат</a>, <a title="малахит"
                                href="https://topkamni.ru/kamni/malahit.html" target="_blank"
                                rel="noopener noreferrer">малахит</a>, <a title="лунный"
                                href="https://topkamni.ru/kamni/lunnyj.html" target="_blank" rel="noopener noreferrer">лунный
                                камень</a>, <a title="бирюза" href="https://topkamni.ru/kamni/biryuza.html" target="_blank"
                                rel="noopener noreferrer">бирюза</a></td>
                    </tr>
                    <tr>
                        <td>Повышение мотивации</td>
                        <td><a title="янтарь" href="https://topkamni.ru/kamni/yantar.html"
                                target="_blank" rel="noopener noreferrer">янтарь</a>, <a title="хризопраз"
                                href="https://topkamni.ru/kamni/hrizopraz.html" target="_blank"
                                rel="noopener noreferrer">хризопраз</a></td>
                    </tr>
                    <tr>
                        <td>Позитивное отношение к жизни</td>
                        <td><a title="малахит" href="https://topkamni.ru/kamni/malahit.html"
                                target="_blank" rel="noopener noreferrer">малахит</a>, <a title="хризопраз"
                                href="https://topkamni.ru/kamni/hrizopraz.html" target="_blank"
                                rel="noopener noreferrer">хризопраз</a>, <a title="топаз"
                                href="https://topkamni.ru/kamni/topaz.html" target="_blank"
                                rel="noopener noreferrer">топаз-империал</a>, <a title="родохрозит"
                                href="https://topkamni.ru/kamni/riolit-rodoxrozit-rodusit-rubellit.html#rodoh" target="_blank"
                                rel="noopener noreferrer">родохрозит</a></td>
                    </tr>
                    <tr>
                        <td>Защита</td>
                        <td><a title="агат" href="https://topkamni.ru/kamni/agat.html" target="_blank"
                                rel="noopener noreferrer">агат</a>, <a
                                href="https://topkamni.ru/kamni/lepidolit.html">лепидолит</a>, <a title="кварц"
                                href="https://topkamni.ru/kamni/kvarc.html" target="_blank" rel="noopener noreferrer">дымчатый
                                кварц</a>, <a title="змеевик" href="https://topkamni.ru/kamni/zmeevik.html" target="_blank"
                                rel="noopener noreferrer">змеевик</a>, <a title="тигровый глаз"
                                href="https://topkamni.ru/kamni/tigrovyj-glaz.html" target="_blank"
                                rel="noopener noreferrer">тигровый глаз</a>, <a title="бирюза"
                                href="https://topkamni.ru/kamni/biryuza.html" target="_blank"
                                rel="noopener noreferrer">бирюза</a>, <a title="турмалин"
                                href="https://topkamni.ru/kamni/turmalin.html" target="_blank" rel="noopener noreferrer">черный
                                турмалин</a>, <a title="турмалин" href="https://topkamni.ru/kamni/turmalin.html" target="_blank"
                                rel="noopener noreferrer">арбузный турмалин</a></td>
                    </tr>
                    <tr>
                        <td>Уверенность в себе</td>
                        <td><a title="кальцит" href="https://topkamni.ru/kamni/kalcit.html"
                                target="_blank" rel="noopener noreferrer">кальцит</a>, <a title="цитрин"
                                href="https://topkamni.ru/kamni/citrin.html" target="_blank"
                                rel="noopener noreferrer">цитрин</a>, <a title="флюорит"
                                href="https://topkamni.ru/kamni/flyuorit.html" target="_blank"
                                rel="noopener noreferrer">флюорит</a>, <a title="гранат"
                                href="https://topkamni.ru/kamni/granat.html" target="_blank"
                                rel="noopener noreferrer">гранат</a>, <a title="топаз"
                                href="https://topkamni.ru/kamni/topaz.html" target="_blank"
                                rel="noopener noreferrer">топаз-империал</a></td>
                    </tr>
                    <tr>
                        <td>Выносливость</td>
                        <td><a title="аквамарин" href="https://topkamni.ru/kamni/akvamarin.html"
                                target="_blank" rel="noopener noreferrer">аквамарин</a>, <a title="гарнат"
                                href="https://topkamni.ru/kamni/granat.html" target="_blank"
                                rel="noopener noreferrer">гранат</a>, <a title="яшма"
                                href="https://topkamni.ru/kamni/yashma.html" target="_blank" rel="noopener noreferrer">красная
                                яшма</a></td>
                    </tr>
                    <tr>
                        <td>Логическое мышление</td>
                        <td><a title="агат" href="https://topkamni.ru/kamni/agat.html" target="_blank"
                                rel="noopener noreferrer">агат</a>, <a title="хризопраз"
                                href="https://topkamni.ru/kamni/hrizopraz.html" target="_blank"
                                rel="noopener noreferrer">хризопраз</a>, <a title="цитрин"
                                href="https://topkamni.ru/kamni/citrin.html" target="_blank"
                                rel="noopener noreferrer">цитрин</a>, <a title="кунцит"
                                href="https://topkamni.ru/kamni/kianit-kuncit-lidit.html#kuncit" target="_blank"
                                rel="noopener noreferrer">кунцит</a>, <a
                                href="https://topkamni.ru/kamni/lepidolit.html">лепидолит</a>, <a title="турмалин"
                                href="https://topkamni.ru/kamni/turmalin.html" target="_blank" rel="noopener noreferrer">черный
                                турмалин</a></td>
                    </tr>
                </tbody>
            </table>
            <h2>О сайте: <a href="https://topkamni.ru/kamni/avantyurin.html"><img
                        class="aligncenter size-full wp-image-3452 lazy loaded" title="Свойства авантюрина"
                        src="https://topkamni.ru/wp-content/uploads/2013/07/Без-имени-1.jpg"
                        data-src="https://topkamni.ru/wp-content/uploads/2013/07/Без-имени-1.jpg" alt="Свойства авантюрина"
                        width="595" height="150"
                        data-srcset="https://topkamni.ru/wp-content/uploads/2013/07/Без-имени-1.jpg 595w, https://topkamni.ru/wp-content/uploads/2013/07/Без-имени-1-300x75.jpg 300w"
                        data-sizes="(max-width: 595px) 100vw, 595px" sizes="(max-width: 595px) 100vw, 595px"
                        srcset="https://topkamni.ru/wp-content/uploads/2013/07/Без-имени-1.jpg 595w, https://topkamni.ru/wp-content/uploads/2013/07/Без-имени-1-300x75.jpg 300w"
                        data-was-processed="true"></a></h2>
            <p><strong>Наш сайт раскроет секреты драгоценных и полудрагоценных самоцветов, расскажет увлекательные истории,
                    связанные с ними и подскажет, как правильно использовать силу самоцветов</strong>. Мы научим вас правильно
                выбирать украшения и заботится о них. Желаете обрести не только красивое украшение, но и верного и надежного
                помощника? Тогда добро пожаловать в великолепный и роскошный мир драгоценных камней!</p>
            <p>Информация на нашем сайте разбита на основные крупные рубрики. Главной из них является подробная <strong><a
                        title="Галерея камней" href="https://topkamni.ru/galereya-kamnej">галерея драгоценных и полудрагоценных
                        камней</a></strong>. Описания более 60 разных минералов — от самых известных до недавно открытых —
                дополнены фотографиями и видеообзорами. Каждый камень раскроется перед вами во всей своей красоте и силе.<a
                    href="https://topkamni.ru/novosti/19-22-2014.html"><img loading="lazy"
                        class="aligncenter size-full wp-image-3455 lazy loaded" title="Выставка в Гонконге"
                        src="https://topkamni.ru/wp-content/uploads/2013/07/2.jpg"
                        data-src="https://topkamni.ru/wp-content/uploads/2013/07/2.jpg" alt="Выставка в Гонконге" width="600"
                        height="150"
                        data-srcset="https://topkamni.ru/wp-content/uploads/2013/07/2.jpg 600w, https://topkamni.ru/wp-content/uploads/2013/07/2-300x75.jpg 300w"
                        data-sizes="(max-width: 600px) 100vw, 600px" sizes="(max-width: 600px) 100vw, 600px"
                        srcset="https://topkamni.ru/wp-content/uploads/2013/07/2.jpg 600w, https://topkamni.ru/wp-content/uploads/2013/07/2-300x75.jpg 300w"
                        data-was-processed="true"></a></p>
            <p>В рубрике «<a href="https://topkamni.ru/category/znak-zodiaka" target="_blank"
                    rel="noopener noreferrer"><strong>Камни по знакам Зодиака</strong></a>» можно подобрать ценный подарок себе
                или близкому человеку в соответствии со знаком по гороскопу. Мы рассмотрели все 12 знаков и подобрали для них
                драгоценные и полудрагоценные минералы на все случаи жизни. В разделе есть статья, посвященная знакам китайского
                гороскопа и их талисманам.</p>
            <p>В рубрике «<strong><a title="Лечение камнями" href="https://topkamni.ru/category/lechenie">Лечение
                        камнями</a></strong>» рассмотрены все аспекты стоунтерапии. Энергетика минералов используется для
                лечения и предупреждения многих болезней. Целебные свойства самоцветов применяют для релаксации, массажа и
                косметологических процедур. Многие из них можно провести и в домашних условиях, а мы подскажем, как это сделать.
            </p>
            <p>Знатоки и любители драгоценных камней устраивают многочисленные мероприятия: выставки, семинары и конференции. Мы
                будем держать вас в курсе всех событий в мире ювелиров и геммологов — «<strong><a title="Новости"
                        href="https://topkamni.ru/category/novosti">Новости</a></strong>«.</p>
            <p style="text-align: center;"><a href="https://topkamni.ru/lechenie/zaryazhaem-vodu.html"></a></p>
            <p>Внешний вид камня — только верхушка айсберга. Ювелирное искусство тщательно оберегает свои большие тайны и
                маленькие секреты. Мы раскроем самые важные из них. Как определить подлинность камня? Как формируется цена на
                самоцвет, и что влияет на нее? Какой уход необходим украшениям с драгоценными минералами? Обо всем этом и не
                только написано в рубрике «<a href="https://topkamni.ru/category/yuveliry" target="_blank"
                    rel="noopener noreferrer"><strong>Минералы и ювелиры</strong></a>».</p>
            <p>Подбирать камни — нелегкое дело, ведь необходимо учитывать массу параметров. Самоцветы можно выбирать по имени
                будущего владельца, окраске, знаку Зодиака и дате рождения. В рубриках «<strong>Камни по имени</strong>»,
                «<strong>Камни по цвету</strong>» даны рекомендации и советы для верного выбора подходящего минерала. Облегчить
                эту задачу может наш сервис по подбору камней, способный подсказать, какие из них подходят именно вам.<a
                    href="https://topkamni.ru/cvet/oranzhevy.html"></a></p>
            <p style="text-align: left;">Раздел «<strong><a title="Талисманы и обереги"
                        href="https://topkamni.ru/category/talisman">Талисманы и обереги</a></strong>» содержит информацию о
                магических и лечебных свойствах камней. Вы узнаете, какие самоцветы несут любовь и счастье, а какие принесут
                деньги и здоровье. Мы поможем разобраться с суевериями и предрассудками, которыми окружены некоторые минералы,
                расскажем самые интересные легенды о камнях.</p>
            <p>На нашем сайте каждый найдет нужную информацию и увлекательно проведет время, просматривая каталоги
                самоцветов.&nbsp;Нам известно все о драгоценных камнях и мы с удовольствием поделимся своими знаниями с вами,
                дорогие читатели.</p>
        
        </div><!-- .entry-content -->
        
    </article>
{% endblock %}